#sdg{
    height: 200px;
    display: flex;
    justify-content: center;
    background-image: url('images/gradient-background.png');
    background-size: cover;
    background-position: center;
    align-items: center;
}

#sdgLogo{
    height: 75vh;
    width: 80vh;
    min-width: 25vw ;
    max-height: 75vh;
    /* background-size: cover; */
}

.w3-row w3-grayscale-min{
    padding: 10px;
}

.first-row{
    display: flex;
}

.first-row-title{
    width: 75%;
}

#first-row-pic{
    width: 25%;
    height: auto;
}

.image{
    position: relative;
    
}

img{
    margin: auto;
    border-radius: 15px;
}

.content{
    border-radius: 15px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}

#sdg1{
    background: rgba(10, 4, 183, 0.6);
}

#sdg2{
    background: rgba(195, 169, 1, 0.6);
}

#sdg3{
    background: rgba(8, 109, 3, 0.6);
}
#sdg4{
    background: rgba(127, 8, 8, 0.6);
}
#sdg5{
    background: rgba(187, 65, 0, 0.6);
}
#sdg6{
    background: rgba(3, 134, 209, 0.6);
}

#sdg7{
    background: rgba(212, 177, 3, 0.6);
}

#sdg8{
    background: rgba(134, 1, 45, 0.6);
}
#sdg9{
    background: rgba(10, 4, 183, 0.6);
}
#sdg10{
    background: rgba(216, 79, 0, 0.6);
}
#sdg11{
    background: rgba(181, 108, 0, 0.6);
}

#sdg12{
    background: rgba(93, 67, 16, 0.6);
}

#sdg13{
    background: rgba(5, 96, 26, 0.6);
}
#sdg14{
    background: rgba(22, 103, 157, 0.6);
}
#sdg15{
    background: rgba(32, 88, 16, 0.6);
}
#sdg16{
    background: rgba(57, 51, 219, 0.6);
}
#sdg17{
    background: rgba(48, 46, 104, 0.6);
}



.content h1 {
    color: white;
    font-size: 3vw; 
    margin-bottom: 10px; 
}

.content p {
    margin: 15px;
    font-size: 1vw; 
}


@media screen and (max-width: 70vh) {
    .content h1 {
        font-size: 3vw; 
    }
    .content p {
        font-size: 1vw; 
    }
}

 #sdg1:hover,
 #sdg2:hover,
 #sdg3:hover,
 #sdg4:hover,
 #sdg5:hover,
 #sdg6:hover,
 #sdg7:hover,
 #sdg8:hover,
 #sdg9:hover,
 #sdg10:hover,
 #sdg11:hover,
 #sdg12:hover,
 #sdg13:hover,
 #sdg14:hover,
 #sdg15:hover,
 #sdg16:hover{
    opacity: 1;
}
